body {
    background-image: url("4kplane.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
  }

  #para1 {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.459);
    width: auto;
    border: 15px solid rgb(255, 255, 255);

    margin: 20px;
    padding: 3% 3% 3% 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-style: normal;
    text-align: justify;
  }

  #h1 {
    color: rgb(255, 255, 255);
    margin-top: 5%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
  }

.header {
    padding: 20px;
    text-align: center;
    background: #0000002a;
    color: white;
    font-size: 30px;
  }

  div.buttons {
  width: auto;
  right: 5px;
  top: 5px;
  padding: 7px;

  }
  
    #b3 {
    background-color: rgba(0, 0, 0, 0.459);
    border: 1px solid rgb(255, 255, 255);
    color: white;
    padding: 0 90% 0 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    }

    #b3:hover {
    background-color: rgba(68, 68, 68, 0.13);
    border: 1px solid rgb(255, 255, 255);
    color: white;
    padding: 0 90% 0 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    }

      #buttonfb {
      background-color: rgba(165, 42, 42, 0);
      background-image: url("33702.png");
      background-size: 100%;
      width: 50px;
      height: 50px;
      outline:none;
      border: none;
    }
    
      #buttonins {
      background-color: rgba(165, 42, 42, 0);
      background-image: url("instatrans.png");
      background-size: 100%;
      width: 50px;
      height: 50px;
      outline:none;
      border: none;
    }
    
      #buttontwit {
      background-color: rgba(165, 42, 42, 0);
      background-image: url("twittertrans.png");
      background-size: 100%;
      width: 50px;
      height: 50px;
      outline:none;
      border: none;
    }